<!-- Header -->
  <header id="header">
    <div class="content">
      <div class="center-flex-div">
        <img src="assets/images/promo.png" width="40%"/>
        <div style="display: flex; justify-content: center; flex-direction: column;">
          <h1 class="gradient-text"><a href="#">{{ site.title }}</a></h1>
          <p>The sleek, modern way to listen to your favorite tunes.<br/>Inspired by the Metro design language.</p>
          <div class="flex-left">
          <ul class="actions">
            <!-- <li><a href="{{ site.download_button_url }}" class="button special">Download</a></li> -->
            <li><a href="#one" class="button scrolly">Learn More</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
